name: code-coverage-lab

# Trigger for master branch only
on:
  push:
    branches:
      - master
  pull_request:
    branches: 
      - master

jobs:
  build-and-integration-test:
    runs-on: ubuntu-latest    
    steps:
    - uses: actions/checkout@v1
      
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8

    - name: Build with Gradle
      run: ./gradlew build -x test
    
    - name: Run tests
      run: ./gradlew test

    - name: Report code coverage
      env:
          CODECOV_TOKEN: ${{ secrets.cctoken }}
      run: |
        echo $CODECOV_TOKEN
        ./gradlew jacocoTestReport
        bash <(curl -s https://codecov.io/bash)
